---
import Layout from "../layouts/Layout.astro";
import "../css/input.css";
import RecipeIntro from "../components/RecipeIntro.astro";
import Ingredients from "../components/Ingredients.astro";
import Instructions from "../components/Instructions.astro";
---

<Layout title="Recipe Page">
    <main class="bg-white pb-[6rem]">
        <div class="">
            <img src="./image-omelette.jpeg" alt="omelette image" />
            <RecipeIntro />
            <Ingredients />
            <Instructions />
        </div>
    </main>
</Layout>

<style></style>
