<section class="flex flex-col gap-[1.5rem] px-[3rem] pt-[2rem]">
    <h1 class="font-young text-[3.6rem] leading-[4rem]">
        Simple Omelette Recipe
    </h1>
    <p class="text-[1.5rem] text-gray-600">
        An easy and quick dish, perfect for any meal. This classic omelette
        combines beaten eggs cooked to perfection, optionally filled with your
        choice of cheese, vegetables, or meats.
    </p>
    <div class="bg-disco-50 rounded-xl p-[2rem]">
        <h2 class="text-[1.75rem] font-bold text-disco-800 mb-[1rem]">
            Preparation time
        </h2>
        <ul
            class="flex flex-col gap-[1rem] [&>li]:text-[1.5rem] [&>li]:text-gray-600 [&>li>span]:pl-[1rem] [&>li]:pl-[1.5rem] list-inside marker:text-disco-800 list-disc"
        >
            <li>
                <span class="font-bold"> Total:</span> Approximately 10 minutes
            </li>
            <li><span class="font-bold"> Preparation:</span> 5 minutes</li>
            <li><span class="font-bold"> Cooking:</span> 5 minutes</li>
        </ul>
    </div>
</section>
