---
const { title } = Astro.props;
---

<section class="flex flex-col gap-[1.5rem] px-[3rem] pt-[2rem]">
    <h2 class="font-young text-[2.6rem] font-bold text-mule-fawn-700">
        {title}
    </h2>
    <slot name="sectionContent" />
</section>

